a(href="#", title="title").social-link__item 
	+icon('youtube', '22', '15')
a(href="#", title="title").social-link__item 
	+icon('vk', '27', '15')
a(href="#", title="title").social-link__item 
	+icon('telega', '20', '17')
a(href="#", title="title").social-link__item 
	+icon('whatsApp', '17', '17')