.navy {
  float: right;
  border: 10px solid #110e7c;
  margin: 1px;
}
.blue {
  float: right;
  border: 10px solid #3db8f5;
  margin: 1px;
}
.light {
  float: right;
  border: 10px solid #d1e3ec;
  margin: 1px;
}
body {
  margin: 200px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../bg-image.jpg);
}
.mozaik {
  position: relative;
  background: #939393;
  height: 286px;
  width: 418px;
}
.item_navy {
  float: right;
  border: 10px solid #110e7c;
  margin: 1px;
}
.item_light {
  float: right;
  border: 10px solid #d1e3ec;
  margin: 1px;
}
.item_blue {
  float: right;
  border: 10px solid #3db8f5;
  margin: 1px;
}
