@media (min-width: 1201px) {


}


@media (min-width: 993px) and (max-width: 1200px) {

		.phone {
		font-size: 16px;
		display: inline-block;
		margin-top: 10px;
	}
}


@media (min-width: 768px) and (max-width: 992px) {

	.work_time>p, .phone_hidd>a, .agency>p {
		font-size: 16px;
		margin-top: 5px;	
	}

	 a.callback {
	 	font-size: 14px;
	 }

	 .phone>p {
	 	margin-top: 10px;
	 	font-size: 16px;
	 	display: inline-block;
	 }

		.phone_hidd {
		font-size: 14px;
		margin-top: 10px;
	}
	div.logo {
		margin-top: 8px;
	}

	h1 {
		font-size: 28px;
		margin-top: 60px;
		margin-bottom: 40px;
	}

	.h2MainBlock {
		font-size: 22px;
		margin-top: 80px !important;
		margin-bottom: 30px !important;
	}

	.mainBlockText, .description {
		font-size: 18px;
		margin-bottom: 30px !important;
		margin-top: 20px;
	}

	#btn_1, #btn_2 {
		width: 260px;
		height: 70px;
		font-size: 18px;
		margin-top: 40px;
		margin-bottom: 40px;
	}

	#btn_2 {
		width: 260px;
		height: 70px;
		font-size: 18px;
		margin-top: 10px;
		margin-bottom: 40px;
	}

	#btn_3 {
		width: 26 0px;
		height: 70px;
		font-size: 18px;
		margin-top: 50px;
		margin-bottom: 40px;
	}

	#about>h2, .h2_we_suggest_xs, #gallery, .contacts>h3 {

		font-size: 22px;
		margin-top: 40px;
		margin-bottom: 50px;
		font-weight: 700;
	}

	.star_img {
		margin-bottom: 30px;
	}

	.p_achieve1, .p_achieve2, .p_achieve3, .p_achieve4 {
		font-size: 16px;
		display: inline-block;
		margin-top: 10px;
	}

	section.block_two {
		padding-bottom: 30px;
	}

	.weSuggest_xs>li>a {
		font-size: 16px;
	}
	.weSuggest>li {
	margin-bottom: 1px;
	margin-top: 15px;
	}
	.block_four>.gallery {
		padding-top: 20px;
		padding-bottom: 0px;
	}
	
	.how_we_work p {
		font-size: 16px;
	}
	#how_we_work {
		padding-top: 30px;
		padding-bottom: 50px;
	}

	.block_map>.contacts_xs>h3{
		margin-top: 5px;
		font-size: 16px;
	}

	.contacts_xs {
		position: absolute; 
		z-index :2;
		right: 30px;
		padding: 10px;
		background-color: #fff;
		margin-top: 20px;
		font-family: 'Merriweather', serif;
		border-radius: 4px;
		outline: 5px double #FFFF00;
	} 
	.contacts_xs>.phone, .contacts_xs>.address  {
		font-size: 12px;
	}

	.contacts_xs>.callback2>a, .contacts_xs>a  {
		font-size: 12px;
	}

	.contacts_xs>h3 {
		margin-bottom: 20px;
	}

	.padd>p, .padd>a>p {
		font-size: 10px;
	}

	#map>iframe {
		height: 400px;
		margin-bottom: 20px;
	}
}



@media (min-width: 480px) and (max-width: 767px) {

	.work_time>p, .phone>p, .phone_hidd>a, .agency>p, a.callback, a.back {
		font-size: 16px;
		margin-top: 5px;
	}
	.phone_hidd {
		font-size: 12px;
	}

	div.logo {
		margin-top: 8px;
	}

	h1 {
		font-size: 28px;
		margin-top: 60px;
		margin-bottom: 40px;
	}

	.h2MainBlock {
		font-size: 22px;
		margin-top: 80px !important;
		margin-bottom: 30px !important;
	}

	.mainBlockText, .description {
		font-size: 18px;
		margin-bottom: 30px !important;
		margin-top: 20px;
	}

	#btn_1, #btn_2 {
		width: 260px;
		height: 70px;
		font-size: 18px;
		margin-top: 40px;
		margin-bottom: 40px;
	}

	#btn_2 {
		width: 260px;
		height: 70px;
		font-size: 18px;
		margin-top: 10px;
		margin-bottom: 40px;
	}

	#btn_3 {
		width: 26 0px;
		height: 70px;
		font-size: 18px;
		margin-top: 50px;
		margin-bottom: 40px;
	}

	#about>h2, .h2_we_suggest_xs, #gallery, .contacts>h3 {

		font-size: 22px;
		margin-top: 40px;
		margin-bottom: 50px;
		font-weight: 700;
	}

	.star_img {
		margin-bottom: 30px;
	}

	.p_achieve1, .p_achieve2, .p_achieve3, .p_achieve4 {
		font-size: 16px;
		display: inline-block;
		margin-top: 10px;
	}

	section.block_two {
		padding-bottom: 30px;
	}

	.weSuggest_xs>li>a {
		font-size: 16px;
	}
	.weSuggest>li {
	margin-bottom: 1px;
	margin-top: 15px;
	}
	.block_four>.gallery {
		padding-top: 20px;
		padding-bottom: 0px;
	}
	
	.how_we_work p {
		font-size: 16px;
	}
	#how_we_work {
		padding-top: 30px;
		padding-bottom: 50px;
	}

	.block_map>.contacts_xs>h3{
		margin-top: 5px;
		font-size: 16px;
	}

	.contacts_xs {
		position: absolute; 
		z-index :2;
		right: 30px;
		padding: 10px;
		background-color: #fff;
		margin-top: 20px;
		font-family: 'Merriweather', serif;
		border-radius: 4px;
		outline: 5px double #FFFF00;
	} 
	.contacts_xs>.phone, .contacts_xs>.address  {
		font-size: 12px;
	}

	.contacts_xs>.callback2>a, .contacts_xs>a  {
		font-size: 12px;
	}

	.contacts_xs>h3 {
		margin-bottom: 20px;
	}

	.padd>p, .padd>a>p {
		font-size: 10px;
	}

	#map>iframe {
		height: 400px;
		margin-bottom: 20px;
	}
}


@media (min-width: 320px) and (max-width: 479px) {

	.work_time>p, .phone>p, .phone_hidd>a, .agency>p, a.callback, a.back {
		font-size: 12px;
		margin-top: 5px;
	}
		.phone_hidd {
		font-size: 10px;
	}
	div.logo {
		margin-top: 8px;
	}

	#main>h1 {
		font-size: 20px;
		margin-top: 40px;
		margin-bottom: 40px;
	}

	.h2MainBlock {
		font-size: 18px;
		margin-top: 80px !important;
		margin-bottom: 30px !important;
	}

	.mainBlockText, .description {
		font-size: 16px;
		margin-bottom: 30px !important;
		margin-top: 20px;
	}
	div>figcaption {
		font-size: 18px;
	}

	#btn_1, #btn_2 {
		width: 270px;
		height: 80px;
		font-size: 18px;
		margin-top: 40px;
		margin-bottom: 40px;
	}

	#btn_2 {
		width: 270px;
		height: 80px;
		font-size: 18px;
		margin-top: 10px;
		margin-bottom: 40px;
	}

	#btn_3 {
		width: 270px;
		height: 80px;
		font-size: 18px;
		margin-top: 50px;
		margin-bottom: 40px;
	}

	#about>h2, .h2_we_suggest_xs, #gallery, .contacts>h3 {

		font-size: 18px;
		margin-top: 40px;
		margin-bottom: 50px;
		font-weight: 700;
	}

	.star_img {
		margin-bottom: 20px;
	}

	.p_achieve1, .p_achieve2, .p_achieve3, .p_achieve4 {
		font-size: 14px;
		display: inline-block;
		margin-top: 10px;
	}

	section.block_two {
		padding-bottom: 30px;
	}

	.weSuggest_xs>li>a {
		font-size: 16px;
	}
	.weSuggest>li {
	margin-bottom: 15px;
	margin-top15px;
	}
	.block_four>.gallery {
		padding-top: 20px;
		padding-bottom: 0px;
	}
	
	.how_we_work p {
		font-size: 12px;
	}
	#how_we_work {
		padding-top: 30px;
		padding-bottom: 50px;
	}

	.block_map>.contacts_xs>h3{
		margin-top: 5px;
		font-size: 16px;
	}

	.contacts_xs {
		position: absolute; 
		z-index :2;
		right: 30px;
		padding: 10px;
		background-color: #fff;
		margin-top: 20px;
		font-family: 'Merriweather', serif;
		border-radius: 4px;
		outline: 5px double #FFFF00;
	} 
	.contacts_xs>.phone, .contacts_xs>.address  {
		font-size: 12px;
	}

	.contacts_xs>.callback2>a, .contacts_xs>a  {
		font-size: 12px;
	}

	.contacts_xs>h3 {
		margin-bottom: 20px;
	}

	.padd>p, .padd>a>p {
		font-size: 10px;
	}

	#map>iframe {
		height: 400px;
		margin-bottom: 20px;
	}
}

@media (min-width: 0px) and (max-width: 319px) {

	.work_time>p, .phone>p, .phone_hidd>a, .agency>p, a.callback, a.back {
		font-size: 10px;
		margin-top: 5px;
	}
	div.logo {
		margin-top: 8px;
	}


	h1 {
		font-size: 18px;
		margin-top: 18px;
		margin-bottom: 40px;
	}

	#main>h2, >h1, .main>.back, .anime {

		font-size: 12px;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.mainBlockText, .description {
		font-size: 11px;
		margin-bottom: 20px;
		margin-top: 20px;
	}
	p.animator {
		font-size: 10px;
	}
	.list>ul>li {
		font-size: 10px;
	}
	div>figcaption {
		font-size: 10px;
	}

	#btn_1, #btn_2, #btn_3, .btn_1 {

		width: 200px;
		height: 50px;
		font-size: 14px;
		margin-top: 20px;
		margin-bottom: 20px;
	}


	#about>h2, .h2_we_suggest_xs, #gallery, .contacts>h3 {

		font-size: 16px;
		margin-top: 40px;
		margin-bottom: 50px;
		font-weight: 700;
	}

	.star_img {
		margin-bottom: 20px;
	}

	.p_achieve1 {
		font-size: 12px;
		display: inline-block;
		margin-top: 10px;
	}

	section.block_two {
		padding-bottom: 30px;
	}

	.p_achieve2, .p_achieve3, .p_achieve4 {

		font-size: 12px;
		display: inline-block;
		margin-top: 20px;
	}

	.weSuggest_xs>li>a {
		font-size: 14px;
	}
	.weSuggest>li {
	margin-bottom: 15px;
	margin-top15px;
	}
	.block_four>.gallery {
		padding-top: 20px;
		padding-bottom: 0px;
	}
	
	.how_we_work p {
		font-size: 12px;
	}
	#how_we_work {
		padding-top: 30px;
		padding-bottom: 50px;
	}

	.block_map>.contacts_xs>h3{
		margin-top: 5px;
		font-size: 16px;
	}

	.contacts_xs {
		position: absolute; 
		z-index :2;
		right: 30px;
		padding: 10px;
		background-color: #fff;
		margin-top: 20px;
		font-family: 'Merriweather', serif;
		border-radius: 4px;
		outline: 5px double #FFFF00;
	} 
	.contacts_xs>.phone, .contacts_xs>.address  {
		font-size: 12px;
	}

	.contacts_xs>.callback2>a, .contacts_xs>a  {
		font-size: 12px;
	}

	.contacts_xs>h3 {
		margin-bottom: 20px;
	}

	.padd>p, .padd>a>p {
		font-size: 10px;
	}

	#map>iframe {
		height: 400px;
		margin-bottom: 20px;
	}
}

