$(document).ready(function() {
		$(".popup").magnificPopup();
 // Р”РѕР±Р°РІР»СЏРµРј РјР°СЃРєСѓ Рє РІРІРѕРґСѓ С‚РµР»РµС„РѕРЅР°
  $("#phone,#phone1,#phone2").each(function() {
    $(this).mask("+7 (999) 999-9999");
  });


     $(window).load(function() { 
  $(".loader_inner").fadeOut(); 
  $(".loader").delay(400).fadeOut("slow"); 
});

   // Р”РѕР±Р°РІР»СЏРµРј РјР°СЃРєСѓ Рє РІРІРѕРґСѓ С‚РµР»РµС„РѕРЅР°
  $(".phone-input").each(function() {
    $(this).mask("+7 (999) 999-9999");
  });
    
      $('.landingMenu').liLanding();  


 $('.popup-with-zoom-anim').magnificPopup({
    type: 'inline',

    fixedContentPos: false,
    fixedBgPos: true,

    overflowY: 'auto',

    closeBtnInside: true,
    preloader: false,
    
    midClick: true,
    removalDelay: 300,
    mainClass: 'my-mfp-zoom-in'
  });


  //E-mail Ajax Send
  $("form").submit(function() { //Change
    var th = $(this);
    $.ajax({
      type: "POST",
      url: "mail.php", //Change
      data: th.serialize()
    }).done(function() {
         $(window.location.href = "thanks.html");
      setTimeout(function() {
        // Done Functions
        th.trigger("reset");
      }, 1000);
    });
    return false;
  });



    $('.bxslider').bxSlider({
       slideWidth:540,
       pager: false,
    minSlides:1,
    maxSlides: 1,
    slideMargin:10,
    });
  });

$('.bxslider3').bxSlider({
  controls: false,
  pagerCustom: '#bx-pager'
});


  $('.bxslider2').bxSlider({
   pager: false,
       slideWidth: 985,
       


  
   });





$(document).ready(function() {

  $('.image-popup-vertical-fit').magnificPopup({
    type: 'image',
    closeOnContentClick: true,
    mainClass: 'mfp-img-mobile',
    image: {
      verticalFit: true
    }
    
  });

  $('.image-popup-fit-width').magnificPopup({
    type: 'image',
    closeOnContentClick: true,
    image: {
      verticalFit: false
    }
  });

  $('.image-popup-no-margins').magnificPopup({
    type: 'image',
    closeOnContentClick: true,
    closeBtnInside: false,
    fixedContentPos: true,
    mainClass: 'mfp-no-margins mfp-with-zoom', // class to remove default margin from left and right side
    image: {
      verticalFit: true
    },
    zoom: {
      enabled: true,
      duration: 300 // don't foget to change the duration also in CSS
    }
  });

});

$('.bxslider3').bxSlider({
  pagerCustom: '#bx-pager',
  nextSelector: '#slider-next',

        prevSelector: '#slider-prev',
        controls: true,
        pager: false,
        nextText: '<img src="img/right.png" height="21" width="13"/>',
        prevText: '<img src="img/left.png" height="21" width="13"/>'
   

});

$(document).ready(function() {
  $('.popup-gallery').magnificPopup({
    delegate: 'a',
    type: 'image',
    tLoading: 'Loading image #%curr%...',
    mainClass: 'mfp-img-mobile',
    gallery: {
      enabled: true,
      navigateByImgClick: true,
      preload: [0,1] // Will preload 0 - before current, and 1 after the current image
    },
    image: {
    
      titleSrc: function(item) {
        return ;
      }
    }
  });
});
