<!--import fonts-->
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

body {

	margin: 0;
	padding: 0;
	width: 100%;
	font-family: 'Roboto', sans-serif;
}


.header {
	
	height: auto;

}

.clearfix:after {
    clear: both;
    content: "";
    display: table;
}

.logo {

	margin-top: 3px;
	margin-bottom: 0px;
}

i {
	padding-right: 5px;
}

.phone {
	font-size: 18px;
	margin-top: 5px;

}

.phone_hidd {

	font-size: 8px;
	margin-top: 10px;
}

.work_time {

	font-size: 16px;
	margin-top: 10px;
}

.navbar-nav {

float: none;
text-align: center;

}
#open-popup, #open-popup1, #open-popup2, #open-popup3, #open-popup4, #open-popup5, #open-popup6, #open-popup7, #open-popup8, #open-popup9, #open-popup10, #open-popup11, #open-popup12, #open-popup13, #open-popup14, #open-popup15, #open-popup16, #open-popup17, #open-popup18, #open-popup19 {
	padding:10px
	-webkit-border-radius:4px;
 -moz-border-radius:4px; 
 border-radius: 4px;
}


.btn_1 	{
	width: 450px;
	height: 80px;
	margin-top: 20px;
	margin-bottom: 70px;
	font-size: 28px;
 text-decoration:none; 
 text-align:center; 
 padding:10px 10px; 
 border:none; 
 -webkit-border-radius:4px;
 -moz-border-radius:4px; 
 border-radius: 4px; 
 font-weight:400; 
 color:#e6005c; 
 
 background-image: -moz-linear-gradient(top, #FFFF00 0%, #FFFF00 100%); 
 background-image: -webkit-linear-gradient(top, #FFFF00 0%, #FFFF00 100%); 
 background-image: -o-linear-gradient(top, #FFFF00 0%, #FFFF00 100%); 
 background-image: -ms-linear-gradient(top, #FFFF00 0% ,#FFFF00 100%); 
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#058505', endColorstr='#058505',GradientType=0 ); 
 background-image: linear-gradient(top, #136708 0% ,#0c5203 100%);   
 -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
 -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
 box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
 opacity:0.8; 
 -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90); 
 filter: alpha(opacity=90); 
  }

.btn_1:hover{

	width: 480px;
	height: 90px;
	margin-top: 20px;
	margin-bottom: 60px;
	font-size: 32px;
 text-decoration:none; 
 text-align:center; 
 padding:10px 10px; 
 border:none; 
 -webkit-border-radius:4px;
 -moz-border-radius:4px; 
 border-radius: 4px; 
 font-weight:400; 
 color:#e6005c; 
 
 background-image: -moz-linear-gradient(top, #FFFF00 0%, #FFFF00 100%); 
 background-image: -webkit-linear-gradient(top, #FFFF00 0%, #FFFF00 100%); 
 background-image: -o-linear-gradient(top, #FFFF00 0%, #FFFF00 100%); 
 background-image: -ms-linear-gradient(top, #FFFF00 0% ,#FFFF00 100%); 
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#058505', endColorstr='#058505',GradientType=0 ); 
 background-image: linear-gradient(top, #136708 0% ,#0c5203 100%);   
 -webkit-box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff; 
 -moz-box-shadow: 0px 0px 2px #bababa,  inset 0px 0px 1px #ffffff;  
 box-shadow:0px 0px 2px #bababa, inset 0px 0px 1px #ffffff;  
 opacity:1; 
 -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90); 
 filter: alpha(opacity=90); 
}



iframe {

	position: relative;
	float: right;
}


.vk:before {

	content: "";
	background-image: url(../img/icon_vk.jpg);
	background-repeat: no-repeat;
	width: 38px;
	height: 38px;
	vertical-align: middle;
	display: inline-block;
}


#map {

    height: 100%; 
    position: relative; 
    z-index: 1;   
} 


.contacts { 
 
    position: absolute; 
    z-index :2;
    right: 40px;
    padding: 20px;
    background-color: #fff;
    margin-top: 30px;
    font-family: 'Merriweather', serif;
    border-radius: 4px;
	outline: 5px double #FFFF00;

} 

h4 {

	margin-bottom: 20px;
	background-color: yellow;
	font-size: 24px;

}

.padd {
padding: 10px;
}

footer {

	font-family: 'Merriweather', serif;
	font-weight: 700;

}

.callback {

	font-size: 14px;
	color: #e6005c;
	text-decoration: none;
}

.callback:hover {

	font-size: 14px;
	color: #e4323a;
	text-decoration: underline;
}


.order {

margin-bottom: 100px;

}

.arrow {

	margin-top: 70px;

}

.order>p {
	
	font-family: 'Merriweather', serif;
	font-weight: 700;

}

.order1 {

	margin-left: 30px;
}

.callback2>a {
	
	font-size: 16px;
	color: #e4323a;
	text-decoration: none;
}

.list {
	font-size: 18px;
	margin-bottom: 40px;
}
.list li {
	 display:block;
	 width:50%;
	 float:left;
}

h1 {
	margin-bottom: 70px;
	margin-top: 60px;
}

.carousel-inner {

	height: auto;
}

.gallery {
	padding-top: 90px;
	padding-bottom: 100px;
	width: 100%;
	height: 100%;

}

.main {
	padding: 30px 10px;
	background-image: url(../img/BGS.png);
}
.description {
	font-size: 20px;
	padding-bottom: 15px;
	text-align: center;
}

.pink {
	background-color: pink;
	font-size: 22px;
	
}

a.back {

	font-size: 18px;
	color: #e6005c;

}
figcaption {
	text-align:center;
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	padding-top: 5px;
}



