.fresh-video__time-view {
  color: white;
  background-color: $black;
  border-radius: 2px;
  // width: 42px;
  // height: 19px;
  padding: 0.4rem;
  position: absolute;
  bottom: 0.6rem;
  right: 0.6rem;
}
