@font-face {
  font-family: 'Proxima Nova Rg';
  src: url('../fonts/ProximaNova-Regular.woff2') format('woff2'), url('../fonts/ProximaNova-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
h2 {
  font-size: 1.8em;
  font-family: 'Georgia';
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 2em;
  margin-top: 3em;
}
.wrap_button {
  margin-top: 1em;
}
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  background-color: #de5300;
  border-color: #de5300;
  padding: 1em 2em;
  font-size: 1.1em;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
  border-radius: 10px;
  letter-spacing: 1px;
  margin-left: 8%;
}
.btn-primary:not(:disabled):not(.disabled).active:hover,
.btn-primary:not(:disabled):not(.disabled):active:hover,
.show > .btn-primary.dropdown-toggle:hover {
  background-color: #ce4b00;
  border-color: #ce4b00;
}
.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  -webkit-box-shadow: 0 0 0 0.2rem #de5300;
          box-shadow: 0 0 0 0.2rem #de5300;
}
.wprap-gradient {
  background: linear-gradient(233deg, #252424 0%, #000000 100%);
}
.hashtag {
  color: #e77020;
}
body {
  font-size: 16px;
}
@media (max-width: 1024px) {
  body {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  body {
    font-size: 12px;
  }
}
@media (max-width: 425px) {
  body {
    font-size: 10px;
  }
}
@media (max-width: 375px) {
  body {
    font-size: 8px;
  }
}
header {
  background-color: #fff;
}
header li {
  border-left: 1px solid #fff;
  font-size: 1.2em;
}
header li:first-child {
  border: none;
}
header li:first-child a {
  padding-left: 4em !important;
}
@media (max-width: 768px) {
  header li {
    border: none;
  }
}
header a {
  color: #fff;
  padding-left: 4em !important;
}
header a:hover {
  color: #de5300;
}
@media (min-width: 768px) {
  header .navbar-expand-lg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.hashtag__icon a {
  padding-left: 2em !important;
}
@media (max-width: 320px) {
  .hashtag__icon {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.hashtag__icon img {
  width: 11em;
}
@media (max-width: 768px) {
  .hashtag__icon img {
    width: 9em;
  }
}
@media (max-width: 425px) {
  .hashtag__icon img {
    width: 7em;
  }
}
@media (max-width: 375px) {
  .hashtag__icon img {
    width: 5em;
  }
}
.hashtag__icon .hashtag__icon_phone {
  font-size: 1.2em;
  line-height: 2em;
  text-align: right;
}
.hashtag__icon .hashtag__icon_phone span {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}
.hashtag__icon .hashtag__icon_phone a {
  color: #de5300;
  text-decoration: underline;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}
.navbar {
  background-color: #000;
  margin-top: 1em;
  font-family: 'Proxima Nova Rg';
}
.icon-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.10em 0.8em;
  margin-bottom: 5px;
  background-color: #de5300;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.navbar-toggler:focus {
  outline: 0px;
}
.basic_block {
  background-image: url('../img/main_bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
}
@media (max-width: 992px) {
  .basic_block {
    background-size: 100% 120%;
  }
}
@media (max-width: 768px) {
  .basic_block {
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
  }
}
@media (max-width: 325px) {
  .basic_block {
    background-size: 100% 100%;
  }
}
.basic_block h1 {
  font-size: 2em;
  font-weight: 500;
  color: #fff;
  margin-top: 1%;
  margin-bottom: 2%;
  margin-left: 8%;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5em;
  width: 60%;
}
.basic_block h2 {
  color: #fff;
  font-family: 'Proxima Nova Rg';
  text-align: left;
  margin-left: 8%;
  margin-bottom: 2%;
  margin-top: 0;
  width: 60%;
}
.basic_block h3 {
  color: #fff;
  font-size: 1em;
  margin-left: 8%;
  margin-top: 2%;
}
.close:focus {
  -webkit-box-shadow: 0 0 0 0.2rem #de5300;
          box-shadow: 0 0 0 0.2rem #de5300;
}
.form-control:focus {
  -webkit-box-shadow: 0 0 0 0.2rem #de5300;
          box-shadow: 0 0 0 0.2rem #de5300;
  border-color: #de5300;
}
@media (max-width: 768px) {
  .about_photostudia_fotograph {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
}
@media (max-width: 768px) {
  .wrap_frame {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.about_photostudio_frame {
  border: 4px solid #de5300;
}
.about_photostudio_frame img {
  -webkit-transform: translate(3%, 2%);
          transform: translate(3%, 2%);
}
p {
  line-height: 1.5em;
  font-size: 1.2em;
  font-weight: 400;
  margin-left: 2em;
  margin-right: 2em;
}
@media (max-width: 768px) {
  p {
    margin-top: 2em;
  }
}
p .about_photostudio_caption {
  display: block;
  font-weight: 700;
}
.service_item {
  margin-top: 2em;
}
.service_item h3 {
  background-color: #e87027;
  font-size: 1.2em;
  color: #fff;
  text-align: center;
  margin-bottom: 0;
}
.service_item ul {
  background-color: #f1d7c6;
  height: 40%;
  padding-top: 1em;
}
.service_item ul li {
  text-decoration: none;
  list-style: none;
}
.service_item img {
  width: 18em;
}
.our_works .example {
  width: 100%;
}
.our_works #carousel {
  width: 70%;
  height: 42em;
  position: relative;
  clear: both;
  overflow: hidden;
  background: #FFF;
}
.our_works #carousel img {
  visibility: hidden;
  /* hide images until carousel can handle them */
  cursor: pointer;
  /* otherwise it's not as obvious items can be clicked */
}
@media (max-width: 768px) {
  .our_works #carousel img {
    width: 30em !important;
    height: 40em !important;
  }
}
.contacts {
  margin-top: 7em;
  margin-bottom: 7em;
  padding-top: 7em;
}
.contact_caption {
  color: #fff;
}
@media (max-width: 1200px) {
  .wrap_contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 1200px) {
  .contacts_addres_phone_social {
    margin-top: 2em;
  }
}
.wrap_icon {
  width: 100%;
}
@media (max-width: 1200px) {
  .wrap_icon {
    margin-top: 2em;
  }
}
.wrap_icon a {
  padding: 2em 3em;
}
.wrap_icon .hashtag_vk {
  background-image: url('../img/photostudia_hashashtag_vk_icon.png');
  background-repeat: no-repeat;
  background-size: 50%;
}
.wrap_icon .hashtag_insta {
  background-image: url('../img/photostudia_hashashtag_instagram_icon.png');
  background-repeat: no-repeat;
  background-size: 50%;
}
.wrap_icon .hashtag_ok {
  background-image: url('../img/photostudia_hashashtag_odnoklassniki_icon.png');
  background-repeat: no-repeat;
  background-size: 50%;
}
.contacts_addres_phone_social {
  position: relative;
}
.contacts_addres_phone_social span {
  font-size: 1.5em;
  color: #fff;
}
.contacts_addres_phone_social .contact_btn {
  margin-left: 0 !important;
  margin-top: 2rem;
  padding: 1em 1em !important;
}
.contacts_addres_phone_social .phone {
  margin-bottom: 1rem;
}
map {
  border: 1px solid red;
  width: 60%;
  height: 60vh;
}
.contacts_link_whatsapp {
  color: #fb8130;
  text-decoration: underline;
  margin-left: 3rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.contacts_link_whatsapp:before {
  content: '';
  position: absolute;
  left: 0;
  width: 2em;
  height: 2em;
  background-image: url('../img/contact_whatsup.png');
  background-repeat: no-repeat;
  background-size: cover;
}
.we_social {
  margin-bottom: 2rem;
}
footer {
  font-size: 1em;
}
footer span {
  color: #fff;
}
footer .studio {
  text-decoration: none;
  color: #fff;
}
.footer_line_big {
  background-color: #fff;
  height: 0.3em;
}
.footer_line_small {
  background-color: #fff;
  height: 0.1em;
}
.wrap_for_privacy {
  line-height: 3em;
  padding-bottom: 2rem;
}
