.account-navigation__text {
  // margin-left: 0.9rem;
  // display: none; //right here
  position: absolute;
  visibility: hidden;
  // clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  align-self: flex-end;
}
