aside.news
	.news__top-side
		h3.news__header Recent News
		a(href="#", title="title").news__header--all All News
	.news__viewport
		.news__wrapper
			.news__item
				+freshNews('The start of the second phase of the project','2019-06-25 19:00','9 minutes ago', '99', '','Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam labore iusto optio eaque, impedit hic ipsam odio error dignissimos? Obcaecati.')
			.news__item
				+freshNews('The start of the second phase of the project','2019-06-25 19:00','9 minutes ago', '99', '','Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam labore iusto optio eaque, impedit hic ipsam odio error dignissimos? Obcaecati.')
			.news__item
				+freshNews('The start of the second phase of the project','2019-06-25 19:00','9 minutes ago', '99', '','Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam labore iusto optio eaque, impedit hic ipsam odio error dignissimos? Obcaecati.')
	.news__slide-control
		.news__slide-line
	.news__slide-control--left
	.news__slide-control--right