section.sold-shares
	h2.sold-shares__header Sold Shares
	.sold-shares__text
		.sold-shares__sell 
			h3.shareSubHead Shares to sell
			.sold-shares__sell-number.shareNumber 9.900.099.990
		.sold-shares__sold.shareSubHead 
			.sold-shares__sold-text
				.sold-shares__sold-text--wrapper
					h3.shareSubHead Sold up to date
					.sold-shares__sold-number.shareNumber 99.999.999
				.sold-shares__sold-percent.shareNumber 9.9099%