section.video
	.video__top-side
		h3.video__header Recent Videos
		a(href="#", title="title").video__header--all All Videos
	.video__viewport
		.video__wrapper
			.video__item
				+freshVideo('Answers to questions | Ivanov I.','2019-06-25 19:00','9 minutes ago', '9 тыс.', '','36:42')
			.video__item
				+freshVideo('About technology | All in a minute','2019-02-02 19:00','02 Febrary', '9 тыс.', '','09:11')
			.video__item
				+freshVideo('Awesome Page Account | Promo','2019-01-17 19:00','17 January', '9 тыс.', '','01:16')
			.video__item
				+freshVideo('Expert opinion | Awesome Page Account','2019-12-31 19:00','31 December', '9 тыс.', '','36:42')
			.video__item
				+freshVideo('Expert opinion | Awesome Page Account','2019-12-31 19:00','31 December', '9 тыс.', '','36:42')
	.video__slide-control
		.video__slide-line
	.video__slide-control--left
	.video__slide-control--right

