.new {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    background-color: $red;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    top: 0;
    right: 0;
  }
}
