@import "./__head/fresh-video__head";
@import "./__image/fresh-video__image";
@import "./__time/fresh-video__time";
@import "./__vews/fresh-video__views";
@import "./__views-number/fresh-video__views-number";
@import "./__time-view/fresh-video__time-view";
@import "./__time-view/fresh-video__time-view";

.fresh-video {
  padding-top: 1.8rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  &:hover {
    .fresh-video__head {
      text-decoration: underline;
    }
  }
}
.fresh-video__head {
  font-family: $interM;
  color: $black;
  font-weight: 400;
}
@media only screen and (max-width: $tablet) {
}
