extends ../layout/main

block variables

block content
	section.section.is-paddingless-horizontal
		.container.grid 
			nav(aria-label="breadcrumbs").breadcrumb
				ul
					li
						a(href="#") Главная
					li.is-active
						a(href="#", aria-current="page") Как писать блог
	section.section.is-paddingless-horizontal.my-presentation
		.container.grid
			article.media.center
				figure.media-left
					.image.is-64x64
						img(src="./static/images/myFoto.png", alt="Фото Сергея Виногорова")
				.media-content
					.content
						p
							strong Виногоров Сергей
							a(href="#") @Vinogorich<br>
							span.has-text-grey Самоучка, готовый изучать новое<br>
								time(datetime="2019-04-03") 3-е Апреля 
								| &#183 5 мин время прочтения 
			//-/.media
			.child-grid.section.is-paddingless-horizontal
				h1.title.is-2 Как сделать классный блог
				h2.subtitle.is-3.has-text-grey-light Узнай первые несколько принципов
			//-/.headers
			figure.columns.grid-xl.is-variable.is-0.is-mobile.is-marginless
				.column
					.image.card
						a(href="#") 
							img(src="./static/images/png/blog-1.png", alt="Фото блога 1")
				.column
					.image.card
						a(href="#") 
							img(src="./static/images/png/blog-2.png", alt="Фото блога 1")
				.column
					.image.card
						a(href="#") 
							img(src="./static/images/png/blog-3.png", alt="Фото блога 1")
			//-/.figure
			figcaption.level.child-grid
				small.level-item Это ссылки кликните по ним
			.content.child-grid.is-medium
				p Далеко-далеко за словесными горами в стране гласных, и согласных живут рыбные тексты. Заголовок, дорогу? Имеет ipsum рыбного страну дорогу рот ручеек рыбными пояс букв, языкового океана толку реторический жаренные выйти семь деревни, снова если жизни агентство ему прямо все вопроса последний переулка ведущими. До, текстами вскоре путь которой большой напоивший, обеспечивает пунктуация семь взгляд что сбить, всемогущая деревни. Всемогущая, семь своего, моей инициал одна злых решила lorem даль, свой толку ручеек пор запятой заманивший ее ipsum снова рукописи о. Страна переулка журчит которое бросил предупреждал повстречался назад одна. Несколько послушавшись lorem своих речью предупредила о, мир даль то вопрос моей единственное безорфографичный продолжил скатился, знаках не, взобравшись ведущими! Она запятых, переулка большой, вопрос возвращайся знаках буквенных повстречался образ свою путь, заглавных собрал запятой! Он родного свое сбить? Своего они все раз, имеет большой коварных языком там составитель назад сих но единственное дорогу текстов океана заголовок пояс города правилами знаках гор, путь однажды. Даль агентство переписали одна, пор журчит подзаголовок путь безорфографичный свое ipsum маленький за но вершину однажды это курсивных безопасную ее. Что агентство которой они всемогущая маленький раз запятой если, переписали точках пунктуация свой. Повстречался деревни вскоре переулка образ щеке наш которое имени своих текст ipsum злых, родного ручеек однажды страну.