h5.fresh-news The start of the second phase of the project
.fresh-news__views
	time(datetime="2019-06-25 19:00").fresh-news__time 9 minutes ago
	.fresh-news__views-number 99
.fresh-news__image
	img(src="#", alt="")
p.fresh-news__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam labore iusto optio eaque, impedit hic ipsam odio error dignissimos? Obcaecati.
