extends pug/base

append vars
	- meta.charset = 'utf-8'
	- link.icon16x16 = 'favicon/favicon-16x16.png'
	- link.icon32x32 = 'favicon/favicon-32x32.png'
	//- - link.icon192x192 = 'favicon/android-chrome-192x192.png'
	//- - link.icon512x512 = 'favicon/android-chrome-512x512.png'
	- link.appleTouchIcon = 'favicon/apple-touch-icon.png'
	//- - link.icon-browserconfig = 'favicon/browserconfig.xml'
	//- - link.icon-favicon = 'favicon/favicon.ico'
	//- - link.icon150x150 = 'favicon/mstile-150x150.png'
	//- - link.icon-safari-pinned-tab = 'favicon/safari-pinned-tab.svg'
	- meta.appleMobileWebAppCapable = 'on'
	- meta.applicationName = 'Awesome Page Account'
	- meta.msapplicationTileColor = '#f6f7fb'
	- meta.XUACompatible = 'IE=edge'
	- meta.themeColor = '#f6f7fb'
	- meta.formatDetection.telephone = false
	- meta.viewport = 'width=device-width, initial-scale=1'
	- title = 'Awesome Page Account'
	- meta.keywords = 'Awesome Page Account'
	- meta.description = 'Awesome Page Account'

block content
	.container
		.content--wrap
			include pug/component/sidePanel
			.hover-content
			main.content__main
				h1.content__head Main information in your acount on Awesome Page Account
				header.content__header
					include pug/component/paginationPanel
				.content__cover-center-block
					include pug/component/userStat
					.content__wrap-news
						.content__news
							include pug/component/news
						.content__block
							.content__forcast-shares
								include pug/component/price
								include pug/component/soldShares
							include pug/component/video
							include pug/component/footer
