//fonts	
	@font-face {
	    font-family: 'Proxima Nova Rg';
	    src: url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
	        url('../fonts/ProximaNova-Regular.woff') format('woff');
	    font-weight: normal;
	    font-style: normal;
	}

h2 {
	font-size: 1.2em;
	font-family: 'Georgia';
	font-weight: 500;
	letter-spacing: 1px;
	text-align: center;
	}
	.wrap_button{
			margin-top: 1em;
		}
		 .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {

			background-color: #de5300;
			border-color: #de5300;
			padding: 1em;
			margin-bottom: 2em;
			margin-top: 2em;
			font-weight: 600;
			font-family: 'Montserrat', sans-serif;
			border-radius: 10px;
			width: 13em;
			@media (max-width: 768px){
				width: 12em;
				padding: 0.8em;
				margin-top: 1em;
			}
			@media (max-width: 540px){
				width: 11em;
				padding: 0.5em;
				margin-top: 0.5em;
				margin-bottom: 0.5em;
				font-size: 1.5em;
			}
			@media (max-width: 530px){
				margin-top: 0.3em;
				margin-bottom: 0.3em;
			}
			// @media (max-width: 320px){
			// 	padding: 0.5em;
			// 	font-size: 1.5em;
			// }
			&:hover {
				background-color: #ce4b00;
				border-color: #ce4b00;
			}
			
		}

		.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
		    box-shadow: 0 0 0 0.2rem #de5300;
		}
	.wprap-gradient {
		background: linear-gradient(233deg, #252424 0%, #000000 100%);
	}
	.hashtag {
		color: #e77020;
		font-size: 1.5em;
	}
body {
		font-size: 16px;
		@media (max-width: 1024px) {
			font-size: 14px;
		}
		@media (max-width: 768px) {
			font-size: 12px;
		}
		@media (max-width: 425px) {
			font-size: 10px;
		}
		@media (max-width: 375px) {
			font-size: 8px;
		}
	}
//header style
	header {
		background-color: #fff;
		li {
			border-left: 1px solid #fff;
			font-size: 0.8em;
			&:first-child {
				border: none;
				a {
					padding-left: 2em !important;
				}
			}
			@media (max-width: 768px) {
				border: none;
				}
			}
			a{
				color: #fff;
				padding-left: 6em !important;
				&:hover {
					color: #de5300;
				}
				@media (max-width: 992px){
						padding-left: 5em !important;
				}
				@media (max-width: 768px){
						padding-left: 2em !important;
				}	
						
			}
	}
		
	
	.hashtag__icon {
		margin-top: 0.5em;
		a{
		padding-left: 0em !important;
		}
		@media (max-width: 320px) {
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}
		img {
			width: 9em;
			@media (max-width: 768px) {
				width: 8em;
			}
			@media (max-width: 425px) {
				width: 7em;
			}
			@media (max-width: 375px) {
				width: 5em;
			}
		}
		.hashtag__icon_phone {
			font-size: 0.8em;
			line-height: 2em;
			text-align: right;
			span {
				font-family:  'Montserrat', sans-serif;
				font-weight: 500;
			}
			a {
				color: #de5300;
				text-decoration: underline;
				font-family:  'Montserrat', sans-serif;
				font-weight: 600;
			}
		}
	}
	.navbar {
		background-color: #000;
		margin-top: 0.5em;
		font-family: 'Proxima Nova Rg';
	}
	
	@media (min-width: 768px){
		.navbar-expand-lg .navbar-toggler {
	    	display: none;
		}
	}
	@media (min-width: 768px){
		.navbar-expand-lg .navbar-nav .navbar-toggler{
	    	flex-direction: row !important;
		}
	}
	@media (min-width: 768px){
	.navbar-expand-lg .navbar-collapse {
	    display: flex!important;
	    flex-basis: auto;
		}
	}
	@media (min-width: 768px){
		.navbar-expand-lg .navbar-nav .nav-link {
		    padding-right: .5rem;
		    padding-left: .5rem;
		}
	}
	.icon-bar {
    	display: flex;
    	padding: 0.10em 0.8em;
    	margin-bottom: 5px;
    	background-color: #de5300;
    	flex-direction: column;
    	@media (max-width: 425px) {
    		padding: 1px 15px;
    	}
    	@media (max-width: 375px) {
    		padding: 1px 12px;
    	}
	}
	.navbar-toggler {
		&:focus {
			outline: 0px;
		}
	}
	.navbar-brand {
		padding: 0;
	}
	.navbar-nav {
		flex-direction: column;
		@media (min-width: 768px){
			flex-direction: row;
		}
	}
//main screen

	.basic_block {
		background-image: url('../img/main_bg.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		height: 95vh;
		@media (max-width: 992px) {
			background-size: 100% 80%;
		}
		@media (max-width: 768px){
			justify-content: flex-start !important;
			background-size: 100% 100%;
			height: 70vh;
		}
		@media (max-width: 600px){
			height: 60vh;
		}
		
		@media (max-width: 425px){
			height: 45vh !important;
		}

		//  
		// @media (max-width: 320px) {
		// 	height: 40vh;
		// }

		h1 {		
			font-size: 1.5em;
			font-weight: 500;
			color: #fff;
			margin-top: 8%;
			margin-bottom: 2%;
			font-family: 'Montserrat', sans-serif;
			line-height: 1.5em;
			width: 60%;
			letter-spacing: 2px;
			@media (max-width: 768px){
				margin-top: 5%;
			}
			@media (max-width: 540px){
				margin-top: 3%;
			}
		}
		h2{
			color: #fff;
			font-family: 'Proxima Nova Rg';
			text-align: left;
			margin-bottom: 2%; 
			margin-top: 7%;
			width: 60%;
			@media (max-width: 768px){
				margin-top: 5%;
			}
			@media (max-width: 540px) {
				margin-top: 3%;
			}
		}
		h3 {
			color: #fff;
			font-size: 0.8em;
			font-weight: 400;
			margin-top: 2%;
			@media (max-width: 520px){
				margin-top: 1%;
			}
		}
	}
		.close {
			&:focus {
				box-shadow: 0 0 0 0.2rem #de5300;
			}
		}
		.form-control {
			&:focus {
				box-shadow: 0 0 0 0.2rem #de5300;
				border-color: #de5300;
			}
		}
		.basic_block_percent{
			font-size: 1.2em;
			font-weight: 600;
		}
		.modal_button {
			padding: 0.8em;
			width: 11em;
			background-color: #de5300;
			border-color: #de5300;
			font-weight: 600;
			font-family: 'Montserrat', sans-serif;
			border-radius: 10px;
			color: #fff;
		}
//block with service
		.service {
			padding-top: 4em;
			.service_header {
				margin-bottom: 3em;
			}
		}
		.service_item {			
			margin-top: 1em;
			@media (max-width: 767px) {
				display: none !important;
			}
			h3 {
				background-color: #e87027;
				font-size: 1em;
				color: #fff;
				text-align: center;
				margin-bottom: 0;
				height: 2em;
				padding-top: 0.2em;
			}
			ul {
				background-color: #f1d7c6;
				height: 50%;
				padding-top: 1em;
				li {
					list-style: none;
					cursor: pointer; 
					color: #de5300;
					span{
						&:hover{
							border-bottom: 1px outset #de5300;
						}
					}
				}
			}
			img {
				width: 15.5em;
				@media (max-width: 768px) {
					width: 16.5em;
				}
			}
			.modal {
				ul{
					background-color: inherit;
					li {
						list-style: disc;
						text-decoration: none;
						color: inherit;
						margin-left: 1em;
					}
				}
			}
		}	
		.dop {
			margin-right: 2em;
		}
		.rent {
			margin-left: 2em;
		}
	
		.service_accordion {
			display: none;
			span{
				&:hover{
					border-bottom: 1px outset #de5300;
				}
			}
			@media (max-width: 767px) {
				display: block;
			}
		}
		.service_modal_paragraph {
			line-height: 1em;
			font-size: 1em;
			font-weight: 400;	
			margin-left: 0em;
			margin-right: 0em;
		}
//our works
	.our_works {
		position: relative;
		padding-top: 4em;
		.example {
			width: 100%;
		}
      #carousel {
        width: 70%;
        height: 40em;
        position:relative;
        clear:both;
        overflow:hidden;
        background:#FFF;
        
      }
    #carousel { 
      	img {
        visibility:hidden; /* hide images until carousel can handle them */
        cursor:pointer; /* otherwise it's not as obvious items can be clicked */
      	width: 20em;
      	height: 30em;
      	@media (max-width: 375px) {
			width: 30em;
			height: 40em;
      		}
      	}
  	}
      .carousel_row {
      	width: 20%;
      	#prev {
      		position: absolute;
      		width: 5em;
      		height: 15em;
      		top: 36%;
      		left: 8%;
      		cursor: pointer;
	      		&:before{
	      		content: '';
	      		position: absolute;
	      		width: 1em;
	      		height: 1em;
	      		background-image: url('../img/uslugi_photostudii_row_left.png');
	      		background-size: 100% 100%;
	      		top: 40%;
	      		//left: 8%;
	      		cursor: pointer;
				}
      	}
      	#next {
      		position: absolute;
      		width: 5em;
      		height: 15em;
      		top: 36%;
      		right: 8%;
      		cursor: pointer;
	      		&:after{
	      		content: '';
	      		position: absolute;
	      		width: 1em;
	      		height: 1em;
	      		background-image: url('../img/uslugi_photostudii_row_right.png');
	      		background-size: 100% 100%;
	      		top: 40%;
	      		right: 0;
	      		cursor: pointer;
				}
      	}
      }
	}
//block about photostudia
	.about_photostudia {
		padding-top: 2em;
		.about_photostudia_header {
			margin-bottom: 4em;
		}
	}
	.about_photostudia_fotograph {
		@media (max-width: 768px) {
			flex-direction: column !important;
		}
	}
	.wrap_frame {
		@media (max-width: 768px) {
			display: flex;
			justify-content: center;
		}
	}

	.about_photostudio_frame {
		border: 4px solid #de5300;
	}
	.fotograph_Shirin{
		transform: translate(3%, 2%);
		@media (max-width: 375px) {
		width: 25em;
		}
	}
	.photograph_Luiza {
		transform: translate(-2%, 2%);
		@media (max-width: 375px) {
		width: 25em;
		}
	}
	p {
		line-height: 1.5em;
		font-size: 1.2em;
		font-weight: 400;	
		margin-left: 2em;
		margin-right: 2em;
		@media (max-width: 768px) {
			margin-top: 2em;
		}
		.about_photostudio_caption {
			display: block;
			font-weight: 700;
		}
	}	
	.luiza {
		height: 70vh;
		.wrap_frame {
			position: absolute;
			right: 5%;
			@media (max-width: 768px) {
				position: static;
			}			
		}
		p {
		line-height: 1.5em;
		font-size: 1.2em;
		font-weight: 400;
		margin-right: 2em;
		margin-left: 0em;
		width: 65%;
		@media (max-width: 800px) {
				width: 60%;
			}
		}
		@media (max-width: 768px) {
			height: auto;
			p {
				margin-left: 2em;
				width: auto;
			}
		}
	}
//contacts 
	.contacts {
		margin-top: 3em;
		margin-bottom: 2em;
		padding-top: 4em;
	}
	.contact_caption {
		color: #fefefe;
		margin-bottom: 4em;
	}
	.wrap_contacts {
		@media (max-width: 768px) {
			flex-direction: column;
			align-items: center;
		}
	}
	.contacts_addres_phone_social {
		@media (max-width: 768px) {
			margin-top: 2em;
		}
	}
	.wrap_icon {
		width: 100%;
		@media (max-width: 768px) {
			margin-top: 2em;
		}
		a {

			padding: 2em 3em;

		}
		.hashtag_vk {
			background-image: url('../img/photostudia_hashashtag_vk_icon.png');
			background-repeat: no-repeat;
			background-size: 40%;
		}
		.hashtag_insta {
			background-image: url('../img/photostudia_hashashtag_instagram_icon.png');
			background-repeat: no-repeat;
			background-size: 40%;
		}
		.hashtag_ok {
			background-image: url('../img/photostudia_hashashtag_odnoklassniki_icon.png');
			background-repeat: no-repeat;
			background-size: 40%;
		}
	}
	.contacts_addres_phone_social {
		position: relative;
		color: #fefefe;
		span {
			font-size: 1.2em;
			color: #fefefe;
		}
		.contact_btn {
			margin-top: 2em !important;
			font-size: 0.9em;
			width: 16em !important;
			padding: 1em!important;
		}
		.phone {
			margin-bottom: 1rem;
		}
	}
	#map {
		width: 60%;
		height: 60vh;
	}
	.contacts_link_whatsapp {
		color: #fb8130;
		margin-left: 3rem;
		margin-top: 2rem;
		margin-bottom: 2rem;
		width: 193px;
		&:before {
			content: '';
			position: absolute;
			left: 0;
			width: 2em;
			height: 2em;
			background-image: url('../img/contact_whatsup.png');
			background-repeat: no-repeat;
			background-size: cover;
		}
		&:hover{
			border-bottom: 1px outset #de5300;
			text-decoration: none;
			color: #de5300;
		}
	}
	.we_social {
		margin-bottom: 1rem;

	}
//footer
	footer {
		font-size: 1em;
		span {
			color: #fff;
		}
		.studio {
			text-decoration: none;
			color: #fff;

		}
	}
	.footer_line_big {
		background-color: #fff;
		height: 0.2em;
	}
	.footer_line_small {
		background-color: #fff;
		height: 0.1em;
	}
	.wrap_for_privacy {
		line-height: 3em;
		padding-bottom: 1rem;
	}


//rules style
	.rules {
		background-color: #000;
		padding-bottom: 1.5em;
		padding-top: 1em;
		span {
			color: #fff;
		}
	}
	.rules_header_one {
		text-align: center;
		margin-top: 2em;
		margin-bottom: 2em;
		font-size: 1.8em;
	}
	.rules_notation{
		font-family: 'Georgia';
		font-weight: bold;
		margin-bottom: 1em;
		font-size: 0.9em;
	}
	.rules_notation_important{
		text-transform: uppercase;
	}
	.accordion {
		margin-top: 3em;
		margin-bottom: 3em;
		.card {
			border: 0px;
			position: relative;
			margin-bottom: 1em;
			.card-header {
				background-color: #f06a11;
				button {
					color: #fff;
					font-family: 'Georgia';
					@media (max-width: 425px) {
						font-size: 0.6rem !important;
					}
					@media (max-width: 320px) {
						font-size: 0.5rem !important;
					}
					&:after {
						content: '';
						position: absolute;
						width: 2em;
						height: 2em;
						background-image: url('../img/rules_accordion_row.png');
						background-repeat: no-repeat;
						background-size: contain;
						right: 3%;
						top: 1em;
						@media (max-width: 425px) {
							right: 7%;
							top: 1.5em;
						}
						@media (max-width: 320px) {
							top: 2em;
						}
					}
				}
			}
			.card-body {
				background-color: #fdf1e9;
				li {
					list-style-type: none;
				}
			}
		}
	}
