body {
  font-size: 16px;
}
/*Main nav*/
.main_nav {
  height: 5em;
  text-decoration: none;
}
@media (max-width: 600px) {
  .main_nav ul {
    display: none;
  }
}
.main_nav a {
  color: #000;
}
.main_nav a:hover {
  color: #a5a5a5;
}
/*Mobile main nav*/
.main_nav_mob {
  width: 100%;
  background-image: url('../img/backNav.jpg');
  background-size: cover;
  position: absolute;
  top: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
}
.main_nav_mob:hover .mob_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main_nav_mob:hover .mob_burger {
  opacity: 0.5;
}
.main_nav_mob .mob_burger {
  width: 20px;
  height: 20px;
  line-height: 2px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: none;
}
@media (max-width: 600px) {
  .main_nav_mob .mob_burger {
    display: block;
  }
}
.main_nav_mob .mob_burger div {
  width: 100%;
  height: 3px;
  background: #000;
  display: inline-block;
}
.main_nav_mob .mob_link {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.main_nav_mob .mob_link a {
  width: 100%;
  line-height: 4rem;
}
/*My history*/
.my_history {
  background-image: url('../img/backNav.jpg');
  background-size: cover;
  text-align: center;
  padding-top: 2rem;
}
.my_history img {
  width: 420px;
  height: 420px;
  margin-top: 2rem;
}
@media (max-width: 768px) {
  .my_history img {
    width: 320px;
    height: 320px;
  }
}
.my_history .my_history_text {
  width: 60vw;
  margin-top: 2rem;
}
.my_history .my_history_wrap {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
@media (max-width: 768px) {
  .my_history .my_history_wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*My work*/
.my_work {
  background-image: url('../img/backNav.jpg');
  background-size: cover;
  padding: 2rem;
}
@media (max-width: 768px) {
  .my_work {
    height: 950px;
  }
}
@media (max-width: 600px) {
  .my_work {
    height: 1050px;
  }
}
.my_work_list {
  height: 500px;
  position: relative;
}
@media (max-width: 768px) {
  .my_work_list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.my_work_list button {
  width: 250px;
  padding: 1rem 5rem;
  background-color: #f7df09;
  outline: none;
  border-radius: 4px;
  border: 1px solid #f7df09;
}
.my_work_list button:hover {
  background-color: #fce300;
}
@media (max-width: 768px) {
  .my_work_list button {
    margin-bottom: 1rem;
  }
}
@media (max-width: 768px) {
  .my_work_list .buttons__my_work {
    -webkit-box-orient: horizontal ! important;
    -webkit-box-direction: normal ! important;
        -ms-flex-direction: row ! important;
            flex-direction: row ! important;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.my_work_slides_one {
  z-index: -7;
  width: 40vw;
  position: absolute;
  right: 5%;
  top: 15%;
}
@media (max-width: 768px) {
  .my_work_slides_one {
    top: 55%;
    right: 0;
    width: initial;
  }
}
@media (max-width: 579px) {
  .my_work_slides_one {
    top: 100%;
    right: 0;
    width: initial;
  }
}
.open_my_work_slides {
  z-index: 2;
}
.my_work_slide {
  position: relative;
}
.modal-dialog {
  margin-top: 100px;
}
.main_slide img {
  height: 90vh;
}
/*My service*/
.my_service_container {
  background-image: url('../img/backNav.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.my_service {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.my_service figcaption {
  margin-top: 2rem;
}
.my_service button {
  background-color: #f7df09;
  outline: none;
  border-radius: 4px;
  border: 1px solid #f7df09;
  margin: auto;
  width: 200px;
  color: #000;
}
.my_service button:hover {
  background-color: #fce300;
}
.my_service button:visited {
  background-color: #d8c006;
}
.my_service button:focus {
  background-color: #fce300;
  -webkit-box-shadow: 0 0 0 0.2rem #fce300;
          box-shadow: 0 0 0 0.2rem #fce300;
}
.my_service button:active {
  color: #000;
  background-color: #fce300 !important;
  border-color: #fce300 !important;
}
@media (max-width: 600px) {
  .my_service img {
    width: 300px;
    height: 250px;
    margin: auto;
  }
}
@media (min-width: 576px) {
  .modal-dialog {
    max-width: 500px;
    margin: 5rem auto;
  }
}
@media (max-width: 320px) {
  .modal {
    top: 30%;
  }
}
/*Contacts*/
.contacts {
  background-image: url('../img/backNav.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.contacts a {
  margin: 2rem;
  text-decoration: none;
  color: #000;
}
@media (max-width: 320px) {
  .contacts a {
    margin: 1rem;
  }
}
