@import "../blocks/sidePanel/__logo/side-panel__logo";
@import "../blocks/menu-button/menu-button";
@import "../blocks/logo/logo";
@import "../blocks/account-navigation/account-navigation.scss";
@import "../blocks/open/open";
@import "../blocks/sidePanel/__news/side-panel__news";
@import "../blocks/new/new";

.side-panel {
	width: 4.5rem; //right here23.8rem
	height: inherit;
	box-sizing: border-box;
	background-color: $main-color;
	font-family: $inter;
	transition: width 0.5s;
	z-index: 3;
}
// .side-panel__logo,
// .menu-button {

// .menu-button__logo,
// .logo {
@keyframes test {
	from {
		transform: rotate(360deg);
	}
}
.active-item {
	position: relative;
	&::before {
		content: "";
		position: absolute;
		height: 4.3rem;
		width: 0.2rem;
		left: 0;
		background-color: $active-menu;
	}
	.account-navigation__link {
		fill: $active-menu;
	}
	.account-navigation__text {
		color: $black;
		font-family: $interM;
	}
}

@media only screen and (max-width: $tablet) {
}
@media only screen and (max-width: $mobile) {
	.side-panel {
		width: 0;
	}
	.icon {
		width: 0;
	}
	.active-item {
		&:before {
			width: 0;
		}
	}
}
