@import "../blocks/stat/stat";
.user-stat {
	padding: 2.6rem 1.2rem 0 2.2rem;
}
.user-stat__header {
	font-family: $interSemi;
	font-size: 1.3rem;
	margin: 0;
	font-weight: 400;
	padding-bottom: 1.9rem;
}
.user-stat__variants {
	display: flex;
	justify-content: space-between;
}
.user-stat__item {
	width: 22%;
}
@media only screen and (max-width: $tablet) {
	.stat-refer {
		width: 11rem;
	}
	.stat-balance {
	}
	.stat-partner {
		width: 7.4rem;
	}
	.stat-profit {
		width: 7.7rem;
	}
}
@media only screen and (max-width: $mobile) {
	.user-stat {
		padding: 2.7rem 1.1rem 1.6rem 1.1rem;
	}
	.user-stat__variants {
		border-bottom: 1px solid $main-grey;
		padding-bottom: 1.6rem;
	}
	.user-stat__item {
		position: relative;
		&::before {
			content: "";
			position: absolute;
			width: 4.7rem;
			height: 1px;
			transform: rotate(90deg);
			left: -2.4rem;
			bottom: 3.5rem;
			z-index: 3;
			background-color: $main-grey;
		}
		&:first-child {
			&:before {
				height: 0;
			}
		}
	}
	.user-stat__item--mobile-none {
		display: none;
	}
}
