.stat__percent {
	color: $green;
	font-size: 1rem;
	margin-left: 0.8rem;
	position: absolute;
	transform: translateY(-200%) translateX(150%);
}
@media only screen and (max-width: $tablet) {
	.stat__percent {
		position: initial;
		margin-left: 0.8rem;
		// bottom: 1rem;
		// right: 50;
		// transform: translateX(0%);
		// margin: auto;
	}
}
@media only screen and (max-width: 425px) {
	.stat__percent {
		font-size: 11px;
		margin-left: 0.2rem;
	}
}
@media only screen and (max-width: $mobile) {
	.stat__percent {
		right: 0;
	}
}
