@font-face {
  font-family: 'Panton ExtraBold';
  src: url('../fonts/Panton-ExtraBold.eot');
  src: url('../fonts/Panton-ExtraBold.eot?#iefix') format('embedded-opentype'), url('../fonts/Panton-ExtraBold.woff2') format('woff2'), url('../fonts/Panton-ExtraBold.woff') format('woff'), url('../fonts/Panton-ExtraBold.ttf') format('truetype'), url('../fonts/Panton-ExtraBold.svg#Panton-ExtraBold') format('svg');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Panton Bold';
  src: url('../fonts/Panton-Bold.eot');
  src: url('../fonts/Panton-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Panton-Bold.woff2') format('woff2'), url('../fonts/Panton-Bold.woff') format('woff'), url('../fonts/Panton-Bold.ttf') format('truetype'), url('../fonts/Panton-Bold.svg#Panton-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Panton';
  src: url('../fonts/Panton-Light.eot');
  src: url('../fonts/Panton-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/Panton-Light.woff2') format('woff2'), url('../fonts/Panton-Light.woff') format('woff'), url('../fonts/Panton-Light.ttf') format('truetype'), url('../fonts/Panton-Light.svg#Panton-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}
body {
  margin: 0;
}
.header__sign {
  text-align: center;
  top: 15px;
  font-family: 'Panton ExtraBold', sans-serif;
}
.header__phone {
  text-align: right;
  top: 10px;
  right: 78px;
  margin-bottom: 25px;
}
.header__phone p {
  margin-bottom: 2px;
  font-family: 'Panton ExtraBold', sans-serif;
}
.header__phone .btn {
  width: 135px;
  height: 30px;
  padding-top: 4px;
  -webkit-box-shadow: 0 0 1px;
          box-shadow: 0 0 1px;
  font-family: 'Panton', sans-serif;
}
.navigation {
  background-color: #292d30;
  margin-bottom: 0px;
  border: 0px solid transparent;
}
.navigation .navbar-nav > li > a {
  color: #fff;
  left: 280px;
  font-family: 'Panton', sans-serif;
}
.main {
  background-image: url(../img/Main.jpg);
  background-size: cover;
  color: #fff;
  text-align: center;
}
.main h1,
.main h3 {
  font-family: 'Panton Bold', sans-serif;
}
.main .logo {
  width: 350px;
  margin-top: 170px;
}
.main .row {
  width: 30px;
  position: absolute;
  right: 515px;
  bottom: 100px;
}
.main .main_beforeBtn {
  margin-top: 40px;
  font-family: 'Panton Bold', sans-serif;
}
.main .look {
  width: 200px;
  border-radius: 18px;
  background-color: #059feb;
  border-color: #059feb;
  margin-top: 20px;
  font-family: 'Panton ExtraBold', sans-serif;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.main .main_afterBtn {
  margin-top: 80px;
  font-family: 'Panton Bold', sans-serif;
}
.main .mouse {
  margin-top: 20px;
  margin-bottom: 80px;
}
hr {
  border-top: 5px solid #059feb;
  width: 200px;
}
h2 {
  font-family: 'Panton ExtraBold', sans-serif;
}
.main_explain {
  margin-bottom: 50px;
  font-family: 'Panton Bold', sans-serif;
}
.main__description {
  text-align: center;
  font-family: 'Panton Bold', sans-serif;
}
.main__description .laptop,
.main__description .play,
.main__description .cassette {
  width: 150px;
}
.main__description .camera {
  width: 120px;
}
