// stylelint-disable scss/dollar-variable-empty-line-before

// COLORS

$color-black: #000;
$color-white: #fff;

$inter: "Inter", Times New Roman, Times, Georgia, serif;
$interExtra: "Inter-ExtraBold", Times New Roman, Times, Georgia, serif;
$interSemi: "Inter-SemiBold", Times New Roman, Times, Georgia, serif;
$interM: "Inter-Medium", Times New Roman, Times, Georgia, serif;
$mont: "Montserrat", Arial, Geneva, Helvetica, Lucida Sans sans-serif;

$desktop: 1920px;
$tablet: 768px;
$mobile: 375px;

$backcolor: #f6f7fb;
$main-color: #dce6ff;
$active-menu: #347dfe;
$active-menu-item: #0f1222;
$menu-item: #545769;
$green: #39dda0;
$main-grey: #cbcfe2;
$dark-grey: #8c8f9e;
$light-grey: #f6f8ff;
$red: #051d1d;
$table: #95e9cd;
$burger: #a7b8e3;
$black: #0f1222;
$pink: #eda0aa;
$red: #ff5d57;

// FONTS
