// stylelint-disable at-rule-empty-line-before

@import "variables";
@import "functions";
@import "mixins";
@import "sprites";
@import "fonts";
@import "vendor";
@import "base";
@import "helpers";

@import "components/sidePanel";
@import "components/pagination";
@import "components/userStat";
@import "components/news";
@import "components/price";
@import "components/soldShares";
@import "components/video";
@import "components/footer";

html {
	font-size: 13px;
	font-family: $inter;
}
body {
	background-color: $backcolor;
}
.container {
	max-width: $desktop;
	margin: 0 auto;
	.skip-menu {
		visibility: hidden;
	}
	.content--wrap {
		display: flex;
	}
	.content__main {
		width: 100%;
	}
	.content__head {
		font-family: $interSemi;
		font-weight: 400;
		// position: absolute;
		// transform: translateX(50%);
		// margin-left: 50%;
		// margin-right: 50%;
		text-align: center;
		visibility: hidden;
		width: 0;
		height: 1px;
		margin: 0;
	}
	.content__wrap-news {
		display: flex;
		padding-right: 1.6rem;
	}
	.content__news {
		width: 23.1rem;
		order: 2;
	}
	.content__cover-center-block {
		width: 100%;
		display: flex;
		flex-direction: column;
	}
	.content__forcast-shares {
		display: flex;
	}
}
.hover-tablet {
	width: 100%;
	height: 100%;
	background-color: $black;
	opacity: 0.5;
	position: absolute;
	z-index: 3;
}
@media only screen and (max-width: $tablet) {
	.container {
		.content__wrap-news {
			flex-direction: column;
		}
		.content__news {
			order: -1;
			width: 100%;
		}
		.content__forcast-shares {
			flex-direction: column;
		}
	}
}
@media only screen and (max-width: $mobile) {
	.container {
		.content__wrap-news {
			padding-left: 0;
		}
	}
}
