.stat
	.stat__descript
		h3.stat__header Referral
		p.stat__number 9
			span.stat__percent 99%
		.stat__descript-number Shares
	.stat__show
		img(src="static/src/svg/" + image + ".svg", alt="").stat__image
		.stat__link Show more
			span.stat__link--row
				+icon('show-more');

