.item-bg {
  background-color: #d9d9d9;
  width: 300px;
  height: 200px;
  margin: 10px;
}
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.flex-container {
  background-color: #f6f6f6;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  width: 1000px;
  height: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.flex-container .item1 {
  background-color: #d9d9d9;
  width: 300px;
  height: 200px;
  margin: 10px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}
.flex-container .item2 {
  background-color: #d9d9d9;
  width: 300px;
  height: 200px;
  margin: 10px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}
.flex-container .item3 {
  background-color: #d9d9d9;
  width: 300px;
  height: 200px;
  margin: 10px;
  -webkit-box-flex: 20;
      -ms-flex-positive: 20;
          flex-grow: 20;
}
.flex-container .item4 {
  background-color: #d9d9d9;
  width: 300px;
  height: 200px;
  margin: 10px;
  -webkit-box-flex: 20;
      -ms-flex-positive: 20;
          flex-grow: 20;
}
.flex-container .item5 {
  background-color: #d9d9d9;
  width: 300px;
  height: 200px;
  margin: 10px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  background-color: white;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.flex-container .item6 {
  background-color: #d9d9d9;
  width: 300px;
  height: 200px;
  margin: 10px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}
.flex-container .item7 {
  background-color: #d9d9d9;
  width: 300px;
  height: 200px;
  margin: 10px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}
.flex-container .item8 {
  background-color: #d9d9d9;
  width: 300px;
  height: 200px;
  margin: 10px;
  -webkit-box-flex: 20;
      -ms-flex-positive: 20;
          flex-grow: 20;
}
.flex-container .item9 {
  background-color: #d9d9d9;
  width: 300px;
  height: 200px;
  margin: 10px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}
